{% extends 'tracker/base.html' %}
{% load static %}
{% block title %}Groups Dashboard{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0 fw-light">My Groups</h2>
        <a href="{% url 'create_group' %}" class="btn btn-primary btn-sm">
            <i class="fas fa-plus me-1"></i> Create Group
        </a>
    </div>

    <!-- Groups Table -->
     <div class="card shadow-sm border-0">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0">
                    <thead class="text-center">
                        <tr>
                            <th width="5%">#</th>
                            <th width="13%" class="text-start">Name</th>
                            <th width="15%"  class="text-start">Category</th>
                            <th class="text-start">Members</th>
                            <th width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr class="text-center">
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-start">{{ group.name }}</td>
                                <td class="text-start">{{ group.category }}</td>
                                <td class="text-start">{{ group.members.count }}</td>
                                <td>
                                    <a href="{% url 'group_details' group_id=group.id %}" class="btn btn-sm btn-outline-secondary" title="group_details">
                                        Expenses
                                    </a>
                                    <a href="{% url 'remove_from_group' group_id=group.id %}" id="leave-btn" class="btn btn-sm"
                                    style="background-color: #dc3545;
                                    color: #fff;
                                    border-color: #dc3545;
                                    text-decoration: none;"
                                    onmouseover="this.style.backgroundColor='#c82333'" onmouseout="this.style.backgroundColor='#dc3545'" title="Remove From Group">
                                        Leave 
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="4" class="text-center">No groups yet.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}